<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="rpg"/>
    <meta name="description" content="{{ page.description }}"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css" title="Default" />
</head>
<body>

    <header class="row">
        <h1>{{ page.title }}</h1>
    </header>

    <div class="row">
        {{ content }}
    </div>

    <footer class="row">
        <h6>And a little footer</h6>
    </footer>

</body>
</html>
